#wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    width:100vw;
    min-height:100vh;
}

nav {
    background:lightcoral;
    color:white;
    display:flex;
    flex-direction: row;
    height:100px;
}

.navlink {
    color:white;
    width:100%;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.navlink:hover {
    color:lightcoral;
    background: white;
}

input {
    display:block;
}

section {
    min-height: 100px;
    display:flex;
    flex-direction: row;
    width:100vw;
    justify-content: space-around;
    border:grey 1px solid;
    margin-top:10px;
    align-items: center;
}

section:hover {
    background:lightgrey;
}
